{% extends 'base.html' %}

{% block title %} Edit Blog Post {% endblock %}

{% block content %}
<h2>Edit Post</h2>
<form action="/posts/{{ post.id }}/edit" method="POST">
    <label>Title: <br><input type="text" name="title" value="{{ post.title }}"></label><br>
    <label>Content: <br>
        <textarea name="content" rows="10" cols="30">{{ post.content }}</textarea>
    </label>
    <br>
    <a href="/posts/{{ post.id }}" class="btn btn-outline-info" role="button">Cancel</a>
    <button class="btn btn-success">Submit Edit</button>
</form>

{% endblock %}