{% extends 'base.html' %}

{% block title %} Blogly Create a User {% endblock %}

{% block content %}

<h2>Create a User</h2>
<form action="/users/new", method="POST">
    <label>First Name <br> 
        <input type="text" name="first_name" placeholder="Enter a first name">
    </label>
    <br>
    <label>Last Name <br> 
        <input type="text" name="last_name" placeholder="Enter a last name">
    </label>
    <br>
    <label>Image URL <br> 
        <input type="text" name="image_url" placeholder="Provide a link to your profile pic">
    </label>
    <br>
    <button class="btn btn-success">Add</button>
</form>

{% endblock %}