{% extends 'base.html' %}

{% block title %} {{ post.title }} {% endblock %}


{% block content %}

<h1>{{ post.title }}</h1>
<p>{{ post.content }}</p>
<p><i>By {{ post.user.first_name }} {{ post.user.last_name }}</i></p>

<a href="/user/{{ post.user.id }}" class="btn btn-outline-primary" role="button">Back to Profile</a><br>
<a href="/posts/{{ post.id }}/edit" class="btn btn-primary" role="button">Edit Post</a><br>
<form action="/posts/{{ post.id }}/delete" method="POST">
    <button class="btn btn-outline-danger">Delete Post</button>
</form>

{% endblock %}