{% extends 'base.html' %}

{% block title %} Blogly User Profile {% endblock %}

{% block content %}

<div class="container">
    <div class="image"><img src="{{ user.image_url }}" alt="Profile pic"></div>
    <div class="info">
        <h2>{{ user.first_name }} {{ user.last_name }}</h2>
        <form action="/user/{{ user.id }}/delete" method="POST">
            <a class="btn btn-primary" href="/user/{{ user.id }}/edit" role="button">Edit</a>
            <button class="btn btn-danger">Delete</button>
        </form>
    </div>
    <div class="post_container">
        <h3>Posts</h3>
        <ul>
        {% for post in user.posts %}
            <li><a href="/posts/{{ post.id }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
        <a class="btn btn-primary" href="/users/{{ user.id }}/posts/new" role="button">Add Post</a>
    </div>


</div>

{% endblock %}